{% extends "base.html" %}
{% block title %}<title>announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <center><h3>Announcements</h3>

      <p><a href="{{url_for('static',filename='financialreport2021.pdf')}}" target="_blank">Financial Report 2021</a></p>
      <p><a href="{{url_for('static',filename='employee.pdf')}}" target="_blank">New Hire October 2021</a></p>
    <br>
    <br>
    
    </center>
    </div>
    <div class="row">
      <h3>Look at our new builds in progress!</h3>
      <div class="column">
      <img src="{{url_for('static',filename='house.jpeg')}}" alt="">
      <p>Seacoast Home</p>
      </div>
      <div>
      <img src="{{url_for('static',filename='house2.jpeg')}}" alt="">
      <p>Neighborhood Home</p>
    </div>
    <div>
      <img src="{{url_for('static',filename='house3.jpeg')}}" alt="">
      <p>Countryside Home</p>
    </div>
    <div>
      <img src="{{url_for('static',filename='house4.jpeg')}}" alt="">
      <p>City Home</p>
    </div>
    <div>
      <img src="{{url_for('static',filename='house5.jpeg')}}" alt="">
      <p>Lakefront Home</p>
    </div>
    </div>
  </div>
</div>
{% endblock %}