{% extends "base.html" %}
{% block title %}<title>directory</title>{% endblock %}
{% set active_page = "directory" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Directory</h3>
      
      <table>
        <tr>
          <th>Employee Name</th>
          <th>Job Title</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <tr>
          <td>Angela Berry</td>
          <td>Interior Designer</td>
          <td>AB@BCI.com</td>
          <td>123-456-7890</td>
        </tr>
        <tr>
          <td>Avery Cavatappi</td>
          <td>Contractor</td>
          <td>AC@BCI.com</td>
          <td>123-456-7898</td>
        </tr>
        <tr>
          <td>Gerald Ingles</td>
          <td>Machine Operator</td>
          <td>GI@BCI.com</td>
          <td>123-456-7895</td>
        </tr>
        <tr>
          <td>Dom Jenkins</td>
          <td>Machine Operator</td>
          <td>DJ@BCI.com</td>
          <td>123-456-7891</td>
        </tr>
        <tr>
          <td>Maren Manny</td>
          <td>Contractor</td>
          <td>MM@BCI.com</td>
          <td>123-456-7892</td>
        </tr>
        <tr>
          <td>Annie Miles</td>
          <td>Interior Designer</td>
          <td>AM@BCI.com</td>
          <td>123-456-7865</td>
        </tr>
        <tr>
          <td>Carl Ocle</td>
          <td>Interior Designer</td>
          <td>CO@BCI.com</td>
          <td>123-456-7878</td>
        </tr>
        <tr>
          <td>Ben Saphire</td>
          <td>Machine Operator</td>
          <td>BS@BCI.com</td>
          <td>123-456-7883</td>
        </tr>
        <tr>
          <td>Henry Rich</td>
          <td>Financial Manager</td>
          <td>HR@BCI.com</td>
          <td>123-456-7834</td>
        </tr>
        <tr>
          <td>Nate Trip</td>
          <td>Manager</td>
          <td>NT@BCI.com</td>
          <td>123-456-7845</td>
        </tr>
        <tr>
          <td>Liz Urite</td>
          <td>Manager</td>
          <td>LU@BCI.com</td>
          <td>123-456-7767</td>
        </tr>
      </table>
    </div>
    
  </div>
</div>
{% endblock %}