{% extends "base.html" %}
{% block title %}<title>documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>
      <br>
      <h5>Please see below for important documents pertaining to Bohlig's Construction Inc.</h5>
      <br>
      <a href="Bylaws.pdf">ByLaws Document</a>
    </div>
    
  </div>
</div>
{% endblock %}