{% extends "base.html" %}
{% block title %}<title>events</title>{% endblock %}
{% set active_page = "events" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Upcoming Events!</h3>
      <h4>Please take a look through the events and feel free to attend any of them</h4>
      
      <p style="border:3px; border-style:solid; border-color:#ff5900; padding: 1em;">March 29 - Company wide inclusion training event.<br></p>
      <p style="border:3px; border-style:solid; border-color:#ff5900; padding: 1em;">April 1 - Potluck dinner to celebrate hard work.<br></p>
      <p style="border:3px; border-style:solid; border-color:#ff5900; padding: 1em;">May 29 - Intro to summer barbeque.<br></p>
      <p style="border:3px; border-style:solid; border-color:#ff5900; padding: 1em;">July 15 - Company day off.<br></p>
    </div>
    
  </div>
</div>
{% endblock %}